<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- UserDetailsService -->
	<beans:bean id="userDetailsService"
		class="com.capitalbank.security.CustomerUserDetailsService">
		<beans:property name="customerService"
			ref="customerService" />
	</beans:bean>

	<!-- Security rules -->
	<http auto-config="true">

				<!-- Public pages -->
		<intercept-url pattern="/index.zul"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url
			pattern="/login.zul"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />

		<!-- Role based -->
		<intercept-url pattern="/zul/admin/**"
			access="ROLE_USER" />
			
		<intercept-url pattern="/zul/user/**" access="ROLE_USER" />
		<intercept-url pattern="/admin.zul" access="ROLE_USER"/>
		
		<intercept-url pattern="/pages/accounts/**"
			access="ROLE_USER" />
			
		<!-- Login -->
		<form-login
			login-page="/login.zul"
			default-target-url="/login.zul"
			authentication-failure-url="/login.zul?error=true" />

		<!-- Logout -->
		<logout
			logout-success-url="/login.zul"
			invalidate-session="true" />

		<session-management>
			<concurrency-control max-sessions="1"
				expired-url="/login.zul?timeout=true" />
		</session-management>

	</http>

	<authentication-manager>
		<authentication-provider
			user-service-ref="userDetailsService" />
	</authentication-manager>

</beans:beans>
